/* General Styles - Core Application Styles */

* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar and Header */
.navbar a {
    cursor: pointer;
}

.logo {
    max-height: 50px;
    margin-left: 10px;
    padding: 5px;
}

.navbar-nav > li > a {
    padding-bottom: 0px !important;
}

.header {
    height: 50px;
    background-color: #7a9ab9;
}

.navbar-nav .expiry-warning {
    font-weight: bold !important;
    color: yellow !important;
}

.header .logo-text {
    margin-top: 10px;
    padding-left: 15px;
    color: #afd0df;
    font-size: 20px;
}

.header .logo-text a, .header .logo-text a:active {
    text-decoration: none;
    color: #afd0df !important;
    font-size: 20px !important;
}

.header .logo-text a:hover {
    text-decoration: none;
    color: #d0e3eb !important;
}

.header a {
    color: #ffffff !important;
}

.header .open a, .header .open .dropdown-menu {
    background-color: #7a9ab9 !important;
}

.header .open .dropdown-menu {
    border-top: none;
    top: 49px;
}

.header .selected, .header .open .dropdown-menu a:hover {
    font-weight: bolder;
}

/* General Layout */
.width-1000 {
    max-width: 1000px;
    margin: 0px auto;
}

.width-700 {
    max-width: 700px;
    margin: 0px auto;
}

.fullscreen {
    height: 100%;
    margin: 0px 20px;
}

/* Alerts */
.alert {
    position: fixed;
    width: 400px;
    bottom: 5px;
    margin-bottom: 0px !important;
    left: 5px;
    z-index: 1000;
}

/* Search Inputs */
.application-search-input {
    width: calc( 100% - 170px ) !important;
    display: inline-block;
}

.configurations-search-input {
    width: calc( 100% - 170px ) !important;
    display: inline-block;
}

.configurations-search-buttons {
    display: inline-block;
}

/* Text Styles */
.configuration-hint {
    color: #a0a0a0;
}

.list-desc {
    color: #888;
    font-size: 13px;
}

.field-hint {
    color: #888;
    font-size: 13px;
    margin: 5px 0 15px 0;
}

.field-warning {
    color: red;
    font-size: 13px;
    margin: 2px 0 5px 0;
}

.success{
    text-align: center;
    color: #3c763d;
}

.error{
    text-align: center;
    color: #a94442;
}

.success-header {
    background-color: #dff0d8;
}

.error-header {
    background-color: #f2dede;
}

/* Utilities */
.margin-top {
    margin-top: 10px !important;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-3 {
    margin-top: 3px !important;
}

.margin-right {
    margin-right: 20px !important;
}

.margin-right-half {
    margin-right: 10px !important;
}

.margin-left {
    margin-left: 20px !important;
}

.margin-bottom {
    margin-bottom: 5px !important;
}

.margin-auto {
    margin: 0px auto;
}

.no-margin {
    margin: 0px !important;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.padding-top-little {
    padding-top: 5px;
}

.padding-top {
    padding-top: 10px !important;
}

.padding-bottom {
    padding-bottom: 10px !important;
}

.padding-left {
    padding-left: 10px !important;
}

.padding-right {
    padding-right: 20px !important;
}

.padding-right-big {
    padding-right: 40px !important;
}

.padding {
    padding: 10px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-left-padding {
    padding: 0px 3px !important;
}

.container-no-left-padding {
    padding: 0px 10px !important;
}

.no-top-padding {
    padding-top: 0px !important;
}

/* Text Alignment */
.center {
    text-align: center !important;
}

.align-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Common Elements */
.file-checkbox {
    margin-right: 10px !important;
}

.delimiter {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e7e7e7;
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline !important;
}

.full-width {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.normal-weight {
    font-weight: normal !important;
}

.nowrap {
    white-space: nowrap;
}

.white-text {
    color: white;
}

/* Profile and Forms */
.profile form {
    margin-top: 20px;
}

.profile form .change-title {
    margin-top: 40px;
}

.profile, .administration, .settings, .reports {
    padding: 50px 0px 0px 0px;
    height: 100%;
    max-width: 800px;
    margin: 0px auto;
}

/* Map Styles */
.map-wrapper {
    height: 90%;
}

.map-wrapper-1 {
    height: calc(100% - 52px);
}

.map-wrapper-2 {
    height: 100%;
}

.map-content {
    height: 100%;
}

.map-content-with-history {
    padding-bottom: 200px;
}

.map {
    padding-left: 300px;
    height: 100%;
    padding-bottom: 200px;
    background-color: white !important;
}

.fullscreen-wrapper {
    padding: 6px !important;
}

.map-fullscreen {
    width: 100%;
    height: 100%;
}

.map-wrapper .row {
    margin: 0px;
}

/* Promo Styles */
.promo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.promo li {
    margin: 12px 12px 12px 180px;
    font-size: 18px;
}

.promo-desc {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-promo, btn-promo:hover {
    color: white!important;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 40px 20px 40px;
}

.btn-promo {
    background-color: #7a9ab9;
}

.btn-promo:hover {
    background-color: #9bb4cc;
}

/* Social Media Buttons */
.google-plus, .google-plus:hover {
    background: #db4437;;
    border: 1px solid #db4437;
}

.facebook, .facebook:hover {
    background: #4965b5;
    border: 1px solid #4965b5;
}

/* Notification Styles */
.notification {
    height: 200px;
}

.notification-popup {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
    z-index: 9999;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
    filter: alpha( Opacity=85 );
    background-color: #fff;
    width: 400px;
    padding: 10px 20px;
}

.notification-hidden {
    height: 0px !important;
    min-height: 0px;
}

.notification .container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.notification .toggle {
    height: 25px;
    width: 50px;
    padding: 6px !important;
    display: block;
    margin: 0px auto;
    position: relative;
    left: -150px;
}

.notification .toggle-wrapper {
    width: 100%;
    position: absolute;
    z-index: 250;
    top: -25px;
    margin-left: 250px;
}

.notification .alarm {
    background: #f5ff8c;
}

.notification .event {
    background: #cde6ec;
}

.notification-delimiter {
    width: 100%;
    height: 3px;
    cursor: n-resize;
    position: absolute;
    z-index: 9998;
}

.notification-delimiter-down {
    background: #cccccc;
    height: 5px !important;
}

.notification-delimiter-area {
    cursor: n-resize !important;
}

.notification-message {
    margin: 5px;
}

.notification-filter {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 10px;
}

.notification-filter select,
.notification-filter button {
    padding-top: 4px;
}

.notification-filter .first {
    width: 150px !important;
}

.notification-filter .form-control {
    display: inline-block;
    width: 250px;
}

.notification-filter .date {
    width: 100px !important;
}

.notification-filter .block {
    display: inline-block;
    margin: 0px 10px;
}

.notification-filter select,
.notification-filter input,
.notification-filter button {
    height: 28px;
    vertical-align: middle;
}

.notification-time-picker a {
    padding: 0px !important;
}

/* Other Device States */
.expired-device-opacity1 {
    opacity: 0.3;
}

.expired-device-opacity2 {
    opacity: 0.1;
}

.expired-device-hidden {
    visibility: hidden;
}

/* Table Styles */
tr.app-desc td {
    vertical-align: middle !important;
}

td.app-desc {
    font-size: 16px;
}

td.app-desc span {
    color: #888;
}

tr:hover {
    background-color: #fafafa;
}

td.no-right-padding {
    padding-right: 0;
}

/* Time and Date */
.date-picker-input {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.date-picker-button {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

.date-top-margin {
    position: relative;
    top: 16px;
}

.full-date-column {
    min-width: 130px;
    width: 130px;
}

.time-period-select {
    width: 50px !important;
    font-size: 12px !important;
    padding: 6px 6px !important;
}

.time-select {
    display: inline-block;
    width: 65px;
}

.time-separator {
    display: inline-block;
    width: 5px;
}

/* Loading and Spinners */
.loading-spinner {
    float: right;
}

.loading-container {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.loading-div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.popup-loading-div {
    width: 100%;
    text-align: center;
}

/* Spinner Animation */
.sarsha-spinner-container{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: 99999;
    color: white;
    text-align: center;
}

.sarsha-spinner-container.ng-enter, .sarsha-spinner-container.ng-leave {
    transition:all ease-in-out 0.4s;
}

.sarsha-spinner-container.ng-enter,
.sarsha-spinner-container.ng-leave.ng-leave-active {
    opacity:0;
}

.sarsha-spinner-container.ng-leave,
.sarsha-spinner-container.ng-enter.ng-enter-active {
    opacity:1;
}

.sarsha-spinner{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #6795b4;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

/* Miscellaneous */
.label-fixed-width {
    width: 60px;
}

.min-width {
    width: 10px !important;
}

.top-2 {
    position: relative;
    top: 2px;
}

.font-size-14 {
    font-size: 14px !important;
}

.margin-horizontal {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.send-empty {
    margin-left: 10px !important;
    margin-top: 10px !important;
}

.checkbox-left-margin {
    margin-left: 10px !important;
}

.smaller {
    width: 20px;
    height: 24px;
}

.link {
    color: #337ab7;
}

.small-column {
    width: 140px;
}

.no-resize {
    resize: none;
}

.users-search-field {
    width: 363px;
    float: left;
    margin-bottom: 10px;
}

.no-device-data {
    color: lightgrey;
}

.column-split-apk, .column-split-apk span {
    font-size: 13px;
}

/* Form Elements */
.form-control-time-picker {
    width: 45px !important;
    display: inline-block;
}

.form-control-time-picker-label {
    margin: 0px 5px;
}

.form-error-message {
    margin-top: 5px;
    display: block;
    text-align: left;
}

div.form-group div.photo-label {
    padding-right: 0;
    text-align: right;
}

div.form-group div.three-state label {
    padding-right: 20px;
    width: 120px;
    text-align: center;
}

div.form-group input.common-checkbox {
    margin-left: 20px;
}

/* Button Styles */
.btn-transparent {
    background-color: transparent;
    border: none;
}

.btn-attention {
    background-color: #ffee88;
}

/* Modal and Dialog Styles */
.confirm, .progress-dialog {
    text-align: center;
}

.confirm span {
    display: block;
    margin: 20px 0px 20px 0px;
}

.progress-dialog span {
    display: block;
    margin: 20px 0px 5px 0px;
}

.danger {
    background-color: #f2dede;
}

.close {
    color: #777474;
    cursor: pointer;
    font-size: 12px;
}

/* Special Components */
.config-save {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 0 0 0 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5)
}

.config-bottom {
    height: 65px;
}

/* Dropdowns */
.dropdown-menu-devices {
    margin-left: -150px !important;
}

/* Icons and Glyphs */
.glyphicon-question-sign,
.glyphicon-envelope,
.glyphicon-bell {
    font-size: 1.4em;
}

/* Input Dropdown */
.input-dropdown {
    width: 100%;
}

.input-dropdown input {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px
}

.input-dropdown ul {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 400px;
}

/* Animations */
@keyframes fade {
    from { opacity: 0.0; }
}

.blinking {
    animation: fade 0.2s infinite alternate;
}

.zIndex1000 {
    z-index: 1000;
}

/* Z-Index */
.absolute-z-index {
    z-index: 9999999999 !important;
}

/* Leaflet Specific */
.leaflet-popup-content {
    width: 310px !important;
    margin: 0px !important;
}

.leaflet-popup-content-wrapper {
    padding: 0px !important;
}

.leaflet-label {
    z-index: 5000 !important;
}

.leaflet-container a.leaflet-popup-close-button,
.leaflet-container a.leaflet-popup-close-button:hover {
    color: #696969 !important;
}