<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Configuración de la base de datos -->
    <Resource
            name="jdbc/hmdm"
            auth="Container"
            type="javax.sql.DataSource"
            maxTotal="100"
            maxIdle="30"
            maxWaitMillis="10000"
            username="hmdm"
            password="hmdm"
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://db:5432/hmdm"
            validationQuery="SELECT 1"
            testOnBorrow="true"/>

    <!-- Parámetros de la aplicación -->
    <Parameter name="base.path" value="" override="false"/>
    <Parameter name="base.domain" value="abexacloud.com" override="false"/>
    <Parameter name="protocol" value="https" override="false"/>
    <Parameter name="files.directory" value="/opt/hmdm/files" override="false"/>
    <Parameter name="plugins.directory" value="/opt/hmdm/plugins" override="false"/>
    <Parameter name="log.path" value="/opt/hmdm/logs" override="false"/>
    <Parameter name="install.flag" value="/opt/hmdm/install_flag" override="false"/>
</Context>