<!-- Localization completed -->
<div ng-controller='HeaderController'>
<div ng-controller='ContentTabController' class='content-wrapper fullscreen'>
    <div class='tabset'>
        <ul class='nav nav-tabs'>
            <li ng-class="{'active': act.SUMMARY}">
                <a ng-click="openTab('SUMMARY')">&nbsp;<span style="opacity: 0.7" class='glyphicon glyphicon-th-large'></span>&nbsp;</a>
            </li>

            <li ng-class="{'active': act.DEVICES}">
                <a ng-click="openTab('DEVICES')" localized-change-tracking>tab.devices</a>
            </li>

            <li ng-if="hasPermission('applications')" ng-class="{'active': act.APPS}">
                <a ng-click="openTab('APPS')" localized-change-tracking>tab.applications</a>
            </li>

            <li ng-if="hasPermission('configurations')" ng-class="{'active': act.CONFS}">
                <a ng-click="openTab('CONFS')" localized-change-tracking>tab.configurations</a>
            </li>

            <li ng-if="hasPermission('files')" ng-class="{'active': act.FILES}">
                <a ng-click="openTab('FILES')" localized-change-tracking>tab.files</a>
            </li>

            <li ng-if="hasPermission('settings')" class="dropdown" uib-dropdown dropdown-append-to-body="true" ng-class="{'active': settingsTabActive}">
                <a class="dropdown-toggle" uib-dropdown-toggle href="#"><span localized-change-tracking>menu.settings</span><span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a ng-click="openTab('DESIGN')" localized-change-tracking>tab.default.design</a></li>
                    <li><a ng-click="openTab('COMMON')" localized-change-tracking>tab.common.settings</a></li>
                    <li><a ng-click="openTab('USERS')" localized-change-tracking>tab.users</a></li>
                    <li ng-if="canManageRoles()"><a ng-click="openTab('ROLES')" localized-change-tracking>tab.roles</a></li>
                    <li><a ng-click="openTab('GROUPS')" localized-change-tracking>tab.groups</a></li>
                    <li><a ng-click="openTab('ICONS')" localized-change-tracking>tab.icons</a></li>
                    <li><a ng-click="openTab('LANG')" localized-change-tracking>tab.language</a></li>
                    <li ng-if="hasPermission('plugins_customer_access_management')"><a ng-click="openTab('PLUGINS')" localized-change-tracking>tab.plugins</a></li>
                    <li ng-repeat="plugin in settingsPlugins" ng-if="!plugin.settingsPermission || hasPermission(plugin.settingsPermission)">
                        <a ng-click="openTab('plugin-settings-' + plugin.identifier)">{{localization.localize(plugin.nameLocalizationKey)}}</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown" uib-dropdown dropdown-append-to-body="true" ng-if="functionsPlugins.length > 0" ng-class="{'active': pluginsTabActive}">
                <a class="dropdown-toggle" uib-dropdown-toggle href="#">
                    <span localized-change-tracking>menu.functions</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="plugin in functionsPlugins" ng-if="!plugin.functionsPermission || hasPermission(plugin.functionsPermission)">
                        <a ng-click="openTab('plugin-' + plugin.identifier)">{{localization.localize(plugin.nameLocalizationKey)}}</a>
                    </li>
                </ul>
            </li>

            <!-- User Info Tab - Right Aligned -->
            <li class="tab-user-info">
                <div class='tab-datetime hide-on-small-screen'>
                    <span id='tabDateTime'>{{dateTime}}</span>
                </div>
                <div class='tab-user-dropdown dropdown' uib-dropdown dropdown-append-to-body="true">
                    <a class='dropdown-toggle tab-user-toggle' uib-dropdown-toggle role='button' aria-expanded='false'>
                        <span class='tab-username-label'>{{getUserName()}}</span>
                        <span class='caret tab-username-caret'></span>
                    </a>
                    <ul class='dropdown-menu dropdown-menu-right tab-dropdown-menu' uib-dropdown-menu role='menu'>
                        <li><a ng-style='color' ng-click="about()" localized-change-tracking>menu.about</a></li>
                        <li><a ui-sref='profile' ng-style='color' localized-change-tracking>menu.profile</a></li>
                        <li ng-if="updatesAllowed()"><a ui-sref='updates' ng-style='color' localized-change-tracking>menu.updates</a></li>
                        <li ng-if="authService.isSuperAdmin() && !isControlPanel"><a ng-click='controlPanel()' localized-change-tracking>menu.panel.master</a></li>
                        <li ng-if="authService.isSuperAdmin() && isControlPanel"><a ng-click='mainPanel()' localized-change-tracking>menu.panel.main</a></li>
                        <li><a ng-click='logout()' localized-change-tracking>menu.logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <!-- Tab Content Area -->
        <div class='tab-content'>
            <div ng-if="activeTab === 'SUMMARY'">
                <ng-include src="'app/components/main/view/summary.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'DEVICES'">
                <ng-include src="'app/components/main/view/devices.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'APPS' && hasPermission('applications')">
                <ng-include src="'app/components/main/view/applications.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'CONFS' && hasPermission('configurations')">
                <ng-include src="'app/components/main/view/configurations.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'FILES' && hasPermission('files')">
                <ng-include src="'app/components/main/view/files.html'"></ng-include>
            </div>
            <!-- Settings Views -->
            <div ng-if="activeTab === 'DESIGN' && hasPermission('settings')">
                <ng-include src="'app/components/main/view/settings/design.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'COMMON' && hasPermission('settings')">
                <ng-include src="'app/components/main/view/settings/common.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'USERS' && hasPermission('settings')">
                <ng-include src="'app/components/main/view/settings/users.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'ROLES' && hasPermission('settings') && canManageRoles()">
                <ng-include src="'app/components/main/view/settings/roles.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'GROUPS' && hasPermission('settings')">
                <ng-include src="'app/components/main/view/settings/groups.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'ICONS' && hasPermission('settings')">
                <ng-include src="'app/components/main/view/settings/icons.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'LANG' && hasPermission('settings')">
                <ng-include src="'app/components/main/view/settings/language.html'"></ng-include>
            </div>
            <div ng-if="activeTab === 'PLUGINS' && hasPermission('settings') && hasPermission('plugins_customer_access_management')">
                <ng-include src="'app/components/main/view/settings/plugins.html'"></ng-include>
            </div>
            <!-- Plugin Views -->
            <div ng-repeat="plugin in settingsPlugins" ng-if="activeTab === ('plugin-settings-' + plugin.identifier) && (!plugin.settingsPermission || hasPermission(plugin.settingsPermission))">
                <ng-include src="plugin.settingsViewTemplate"></ng-include>
            </div>
            <div ng-repeat="plugin in functionsPlugins" ng-if="activeTab === ('plugin-' + plugin.identifier) && (!plugin.functionsPermission || hasPermission(plugin.functionsPermission))">
                <ng-include src="plugin.functionsViewTemplate"></ng-include>
            </div>
        </div>
    </div>
</div>
</div>