<!-- Modern Login Layout -->
<div ng-if="!isIE" class="modern-login-container">
    <div class="login-split-layout">
        <!-- Left Panel - Authentication Form -->
        <div class="login-left-panel">
            <div class="login-form-container">
                <!-- Title -->
                <h2 class="login-title">Autenticación</h2>

                <!-- Login Form -->
                <form name='loginForm' ng-submit='onLogin()' class="modern-login-form">

                    <!-- Error/Success Messages inside form -->
                    <div class="login-error-message" ng-if="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="login-success-message" ng-if="successMessage">
                        {{successMessage}}
                    </div>
                    <div class='form-group'>
                        <input type='text' class='form-control modern-input' id='username'
                               ng-model='login.username' localized-placeholder="login.username.placeholder"
                               placeholder="Usuario"
                               required/>
                    </div>
                    <div class='form-group'>
                        <input type='password' class='form-control modern-input' id='password'
                               ng-model='login.password' localized-placeholder='login.password.placeholder'
                               placeholder="Contraseña"
                               required/>
                    </div>

                    <button type='submit' class='btn modern-login-btn'
                            ng-disabled='loginForm.$invalid' localized>login.submit</button>

                    <!-- Action Links -->
                    <div class="login-actions">
                        <div ng-if="canRecover">
                            <a class="action-link" ng-click="recoverPassword()" localized>login.password.recovery</a>
                        </div>
                        <div ng-if="rebranding.signupLink">
                            <span localized>login.no.account</span>
                            <a class="action-link" href="{{rebranding.signupLink}}" localized>login.signup</a>
                        </div>
                        <div ng-if="!rebranding.signupLink && canSignup">
                            <span localized>login.no.account</span>
                            <a class="action-link" ng-click="signup()" localized>login.signup</a>
                        </div>
                    </div>
                </form>

                <!-- Footer Text -->
                <div class="login-form-footer" ng-if="rebranding">
                    <small>{{rebranding.appName}} - <span localized>app.description</span></small>
                </div>
            </div>
        </div>

        <!-- Right Panel - Visual Element -->
        <div class="login-right-panel">
            <div class="login-visual">
                <!-- Phone/Device Visual Element -->
                <div class="device-mockup">
                    <div class="device-screen">
                        <!-- You can add your visual content here -->
                        <div class="device-content">
                            <div class="time-display" id="live-clock" ng-controller="ClockController">
                                <span class="hours-minutes">{{currentTime.hoursMinutes}}</span><span class="seconds">{{currentTime.seconds}}</span>
                            </div>
                            <div class="device-bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class='content-wrapper width-1000' ng-if="isIE">
    <div localized>ie.browser.notice.1</div>
    <div ng-bind-html="ieBrowserNotice2"></div>
</div>

<div class="login-footer" ng-if="rebranding">
    <span>{{rebranding.appName}}</span> <span localized>app.description</span>. (c) {{rebranding.year}} <a href="{{rebranding.vendorLink}}">{{rebranding.vendorName}}</a>
</div>

